{% extends 'table.html' %}
{% load static %}

<!-- メッセージと今の勝ち負け額の表示 -->
{% block msg %}
    {% if card_flag == True %}
        {{ msg }}
        <p> 今のターン： {{ turn }}</p>
    {% else %}
        {{ msg }}
        <p> 今のターン： {{ turn }}</p>
        <p> 対戦相手の情報：{{ bot_senryaku }} </p>
    {% endif %}
{% endblock msg %}

{% block bot_chip %}
    {{ bot_chip }}
{% endblock bot_chip %}

{% block bot_point %}
    {{ bot_point }}
{% endblock bot_point %}

{% block bot_card %}
    <!-- BBのカード -->
    {% if card_flag == True %}
        <img src="{% static 'cards/D_13.png' %}">
    {% else %}
        <img src="{% static 'cards/card_bk_red.png' %}">
    {% endif %}
{% endblock bot_card %}

{% block bot_action %}
    {% if action != "check" %}
        {% if bot_action != None %}
            <div class="balloon2-left">
            {{ bot_action }}
            </div>
        {% endif %}
    {% endif %}
{% endblock bot_action %}

{% block pot %}
    {{ pot }}
{% endblock pot %}

{% block action %}
    {% if card_flag != True %}
    <form action="" method="POST">
        {% csrf_token %}
            <li>
                <input type="radio" name="action" value="check" required>チェック(終える)
            </li>
            <li>
                <input type="radio" name="action" value="bet" required>ベット(2ポイント)
            </li>
                <input type="hidden" name="player_card" value="{{ player_card }}">
            <p>
                <input type="submit" value="送信">
            </p>
    {% endif %}
{% endblock action %}

{% block next_button %}
    {% if card_flag == True %}
        {% if train == "train" %}
            <p><a class="btn btn-primary" href="../train_bb">次のターンへ</a></p>
        {% else %}
            <p><a class="btn btn-primary" href="../poker_bb">次のターンへ</a></p>
        {% endif %}
    {% endif %}
{% endblock next_button %}

    <!-- BTNのカード -->
{% block player_chip %}
    {{ tokuten }}
{% endblock player_chip %}

{% block player_point %}
    {{ player_point }}
{% endblock player_point %}

{% block player_card %}
{% if player_card == "A" %}
        <img src="{% static 'cards/D_01.png' %}">
    {% else %}
        <img src="{% static 'cards/D_12.png' %}">
    {% endif %}
{% endblock player_card %}

{% block player_action %}
    {% if bot_action != None %}
        <div class="balloon2-left">
            {{ action }}
        </div>
    {% endif %}
{% endblock player_action %}

{% block train %}
{% if train == "train" %}
<p><a class="btn btn-outline-primary" href="../login">練習を終える</a></p>
{% endif %}
{% endblock train %}
