{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>poker game</title>
</head>
<body>
    <!-- メッセージと今の勝ち負け額の表示 -->
    {% if card_flag == True %}
        {% if action_opp == "bet" %}
            対戦相手のアクションは {{ action_opp }} でした。
            あなたのアクションは {{ action }} でした。
        {% elif action_opp == "check" %}
            対戦相手のアクションは {{ action_opp }} でした。
        {% endif %}
        <p>    {{ user }}さん、あなたは{{ point }}ポイント獲得しました。</p>
        <p> あなたのチップ量： {{ tokuten }}</p>
        <p> 今のターン： {{ turn }}</p>
    {% else %}
        <p> {{ user }}さん、あなたは後攻です </p>
        <p> あなたの得点： {{ tokuten }}</p>
        <p> 今のターン： {{ turn }}</p>
    {% endif %}

    <!-- BTNのカード -->
    <h2>対戦相手のカード</h2>
    <ul>
        {% if card_flag == True %}
            {% if opp_card == "A" %}
                <img src="{% static 'cards/D_01.png' %}">
            {% else %}
                <img src="{% static 'cards/D_12.png' %}">
            {% endif %}
        {% else %}
            <img src="{% static 'cards/card_bk_red.png' %}">
        {% endif %}
    </ul>

    <!-- BBのカード -->
    <h2>あなたのカード</h2>
    <ul>
        <img src="{% static 'cards/D_13.png' %}">
    </ul>

    {% if card_flag != True %}
    {% if action_opp == "bet" %}
        対戦相手のアクションは {{ action_opp }} です。
        あなたのアクションです。
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <input type="radio" name="action" value="call" required>コール
                <input type="radio" name="action" value="fold" required>フォールド
                <input type="hidden" name="action_opp" value="{{ action_opp }}">
            </p>
            <p><input type="submit" value="送信"></p>
    {% elif action_opp == "check" %}
        対戦相手のアクションは {{ action_opp }} です。
        <form action="" method="POST">
            {% csrf_token %}
            <p>
                <input type="hidden" name="action_opp" value="{{ action_opp }}">
                <input type="hidden" name="action" value="check">
            </p>
            <p><input type="submit" value="送信"></p>
    {% endif %}
    {% endif %}


    {% if card_flag == True %}
    <!-- ここで「次へ」を押したらデータがデータベースに送信されて、画面がBB（後攻）に移る -->
        {% if train == "train" %}
            <p><a href="../train_btn">次のターンへ</a></p>
        {% else %}
            <p><a href="../poker_btn">次のターンへ</a></p>
        {% endif %}
    {% endif %}

    {% if train == "train" %}
    <p><a href="../poker_btn">練習を終える</a></p>
    {% endif %}

</body>
</html>
