{% extends 'table.html' %}
{% load static %}

<!-- メッセージと今の勝ち負け額の表示 -->
{% block msg %}
    {% if card_flag == True %}
        {{ msg }}
        <p> 今のターン： {{ turn }}</p>
    {% else %}
        {{ msg }}
        <p> 今のターン： {{ turn }}</p>
    {% endif %}
{% endblock msg %}

{% block bot_card %}
    <!-- BBのカード -->
    {% if card_flag == True %}
        <img src="{% static 'cards/D_13.png' %}">
    {% else %}
        <img src="{% static 'cards/card_bk_red.png' %}">
    {% endif %}
{% endblock bot_card %}

{% block action %}
    {% if card_flag != True %}
    <form action="" method="POST">
        {% csrf_token %}
            <li>
                <input type="radio" name="action" value="check" required>チェックをしてカードを開く
            </li>
            <li>
                <input type="radio" name="action" value="bet" required>２ポイントベットをして掛け金を釣り上げる
            </li>
                <input type="hidden" name="player_card" value="{{ player_card }}">
            <p>
                <input type="submit" value="送信">
            </p>
    {% endif %}
{% endblock action %}

{% block next_button %}
    {% if card_flag == True %}
        {% if train == "train" %}
            <p><a class="btn btn-primary" href="../train_bb">次のターンへ</a></p>
        {% else %}
            <p><a class="btn btn-primary" href="../poker_bb">次のターンへ</a></p>
        {% endif %}
    {% endif %}
{% endblock next_button %}

    <!-- BTNのカード -->
{% block player_card %}
{% if player_card == "A" %}
        <img src="{% static 'cards/D_01.png' %}">
    {% else %}
        <img src="{% static 'cards/D_12.png' %}">
    {% endif %}
{% endblock player_card %}

{% block train %}
{% if train == "train" %}
<p><a class="btn btn-outline-primary" href="../login">練習を終える</a></p>
{% endif %}
{% endblock train %}
