{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src={% static 'js/bootstrap.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Poker game!</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
    </nav>

    <div class="msg">
      <div class="panel panel-default">
        <div class="panel panel-body">
          <b>
          {% block msg %}
          {% endblock msg %}
          </b>
        </div>
      </div>
    </div>

    <div style="background-image: url({% static 'python_bk_s_new.png' %});
                background-repeat: no-repeat;
                background-position: 12px 2px;">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                対戦相手
              </div>
            </div>
            <div class="circle">
               {% block bot_point %}
               {% endblock bot_point %}
            </div>
          </div>
          <div class="col-xs-8">
            <ul class="card">
              <li>
              {% block bot_card %}
              {% endblock bot_card %}
              </li>
              <li>
                  <p>
                  {% block bot_action %}
                  {% endblock bot_action %}
                  </p>
              </li>
            </ul>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                ポット
                {% block pot %}
                {% endblock pot %}
              </div>
            </div>
          </div>
          <div class="col-xs-7">
            <ul class="card">
              {% block action %}
              {% endblock action %}
            </ul>
          {% block next_button %}
          {% endblock next_button %}
          </div>
          <div class="col-xs-3">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <div class="panel panel-default">
              <div class="panel-heading">
                プレイヤー
              </div>
            </div>
            <div class="circle">
               {% block player_point %}
               {% endblock player_point %}
            </div>
          </div>
          <div class="col-xs-8">
            <ul class="card">
              <li>
                {% block player_card %}
                {% endblock player_card %}
              </li>
              <li>
                  <p>
                  {% block player_action %}
                  {% endblock player_action %}
                  </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

      {% block train %}
      {% endblock train %}

  </body>
</html>